
h2 { font-size: 140%; margin-top: 20px; margin-bottom: 10px; }

h3 { font-size: 120%; margin-top: 20px; margin-bottom: 10px; }

#main {
	width: 100%;
}

.results th {  background-color: #428BCA; text-align: left; color: white; } 

.results td { background-color: white; padding: 5px;  min-width: 110px; } 

.results .table {

	overflow-x: auto;
}

.results .plot {
    margin: 15px auto;
    border: 1px solid gray;
    padding: 1px;
    background-color: white;
}

.results .plot img {
	max-width: 850px;
	overflow: scroll;
}

.results .plot .caption {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
}
