extends layout

block append main
	#sidebar.right
		#sidebar_content
			.box
				.box_title Important dates
				.box_content
					table(border='1')
						tr.spaceUnder
							td(width='150px', height='25')
								strike Evaluation kit available:
							td(style='text-indent: 3em;')
								strike 2013/07/10
						tr.spaceUnder
							td(width='150px', height='30')
								strike Workshop paper submission
							td(style='text-indent: 3em;')
								strike 2013/09/11
						tr.spaceUnder
							td(width='150px', height='30')
								strike (Extended deadline):
							td(style='text-indent: 3em;')
								strike 2013/09/14
						tr.spaceUnder
							td(width='150px', height='30')
								strike Challenge results submission
							td(style='text-indent: 3em;')
								strike 2013/09/11
						tr.spaceUnder
							td(width='150px', height='30')
								strike (Extended deadline):
							td(style='text-indent: 3em;')
								strike
									| 2013/09/14
									strike
						tr.spaceUnder
							td(width='150px', height='30')
								strike Paper Acceptance:
							td(style='text-indent: 3em;')
								strike 2013/10/02
						tr.spaceUnder
							td(width='150px', height='60')
								strike
									| Final submission for conditionally
									| accepted papers:
							td(style='text-indent: 3em;')
								strike 2013/10/11
						tr.spaceUnder
							td(width='150px', height='45')
								strike Final submission of Camera Ready Paper:
							td(style='text-indent: 3em;')
								strike 2013/10/18
						tr.spaceUnder
							td(width='150px', height='30')
								strike Date of the workshop:
							td(style='text-indent: 3em;')
								strike 2013/12/02
			.box
				.box_title News
				.box_content
					table
						tr.spaceUnder
							td(width='150px', height='80')
								| Paper summarising results is online
							td(style='text-indent: 3em;')
								| 2013/12/17
						tr.spaceUnder
							td(width='150px', height='50')
								| Main presentation is online
							td(style='text-indent: 3em;')
								| 2013/12/05
						tr.spaceUnder
							td(width='150px', height='50')
								| Workshop was successfully held
							td(style='text-indent: 3em;')
								| 2013/12/02
						tr.spaceUnder
							td(width='150px', height='50')
								| Submission details are online
							td(style='text-indent: 3em;')
								| 2013/11/06
						tr.spaceUnder
							td(width='150px', height='30')
								| Program is online
							td(style='text-indent: 3em;')
								| 2013/10/28
						tr.spaceUnder
							td(width='150px', height='80')
								| Authors of conditionally accepted papers
								| were notified
							td(style='text-indent: 3em;')
								| 2013/10/13
						tr.spaceUnder
							td(width='150px', height='65')
								| Paper review is finished and authors
								| were notified
							td(style='text-indent: 3em;')
								| 2013/09/03
						tr.spaceUnder
							td(width='150px', height='65')
								| Paper submission and challenge results
								| submission are closed
							td(style='text-indent: 3em;')
								| 2013/09/15
						tr.spaceUnder
							td(width='150px', height='45')
								| Submission deadline was extended
							td(style='text-indent: 3em;')
								| 2013/09/09
						tr.spaceUnder
							td(width='150px', height='140')
								| Evaluation kit was updated: If you
								| have downloaded the evaluation kit
								| before 2013/08/25, kindly we ask
								| you for downloading it again
							td(style='text-indent: 3em;')
								| 2013/08/28
						tr.spaceUnder
							td(width='150px', height='50')
								| CMT submission system is now open
							td(style='text-indent: 3em;')
								| 2013/08/09
						tr.spaceUnder
							td(width='150px', height='140')
								| Dataset was updated: If you
								| have downloaded the dataset before
								| 2013/07/13, kindly we ask you for
								| downloading it again
							td(style='text-indent: 3em;')
								| 2013/07/15
						tr.spaceUnder
							td(width='150px', height='60')
								| Evaluation kit, dataset and documentation
								| are on-line
							td(style='text-indent: 3em;')
								| 2013/07/10
						tr.spaceUnder
							td(width='150px', height='40')
								| Webpage on-line
							td(style='text-indent: 3em;')
								| 2013/07/04

