html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; background: transparent; } body { 
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: 
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }


/* 
   General 
------------------------------------------------------------------- */

html {
	font-size: 62.5%; /* reset 1em to 10px */
	height: 100%;
}

body {
	background: #353530;
	color: #000000;
	font: normal 1.3em Georgia,sans-serif;
	height: 100%;
	background: white url('grain.gif') repeat center center;
}

/* 
   Typography 
------------------------------------------------------------------- */

p {
	line-height: 1.4em;
	padding: 1.2em 0 1.2em;
}

h1 {font: normal 3em Georgia,sans-serif;}
h2 {font: normal 2.2em Georgia,sans-serif;}
h3 {font: normal 2em Georgia,sans-serif;}
h4 {font: normal 1.8em Georgia,sans-serif;}
h5 {font: normal 2.2em Georgia,sans-serif;}
h6 {font: bold 1.2em Georgia,sans-serif;}

h1,h2,h3,h4,h5,h6 {margin-bottom: 0.2em;}

blockquote {
	background: #F6F6F2 url('backgrounds.gif') no-repeat 0 -400px;
	border-bottom: 1px solid #E0E0D4;
	border-top: 1px solid #E0E0D4;
	color: #332;
	display: block;
	margin: 0.6em 0 1.6em;
	padding: 0.8em 1em 0.2em 46px;
}

/* 
   Lists
------------------------------------------------------------------- */

dl {margin-bottom: 2em;}
dt,dd {padding: 8px 10px;}
dt {
	background: url('grain_dark.gif');
	border-bottom: 1px solid #CCB;
	color: #555;
	font-weight: bold;
}
dd {
	background: url('grain_light.gif');
	border-bottom: 1px solid #DDC;
	padding-left: 16px;
}


/* 
   Links 
------------------------------------------------------------------- */

a {color: #543;}
a:hover {
	color: #C40;
	text-decoration: underline;
}

#footer {
	color: #AA9;
	padding: 12px 0;
	font-size: 10px;
	text-align: center;
}


#site_title { left : 50%; top : 50px; position: absolute; transform: translate(-50%, 0); width:100%; max-width: 500px; text-align: center; }


#layout_body { left : 50%; top : 250px; position: absolute; transform: translate(-50%, 0); width:100%; max-width: 500px; }

#innersplash{ position:absolute; } #logo{ margin-bottom:20px; } #logo img{ width:100%; min-width:100px; }


#splashcontent #innersplash >a img{ max-width:100px; }


#splashcontent #innersplash >a { opacity:0.8; transition: all 0.5s ease; float:left; margin-right:20px; margin-bottom:20px; }


#splashcontent #innersplash >a:hover{ opacity:1; } #innersplash a:nth-child(3n+1){ margin-right:0px !important; } 



/*Screen Optimize*/ 
@media screen and (max-width: 360px){ 

#splashcontent{ max-width:240px !important; }

#splashcontent #innersplash >a img{ max-width:240px !important; } #logo img{ width:240px !important; } 

} 

@media screen and (max-width: 680px) { 


 } 
