
a.navbar-brand img {
    margin: 5px 20px;
}

#submenu a.navbar-brand {
    font-weight: bold;
    margin: 0px 38px;
}

body {
    min-width: 350px;
}

#menu .navbar {
    min-height: 90px;
}

#menu.navbar-nav > li > a {
    line-height: 20px;
    padding-top: 55px;
}

.navbar-default .navbar-nav > li.active > a {
    color: white;
    background-color: #428BCA;
}

.navbar-default .nav li a.selected,
.navbar-default .nav li a:hover,
.navbar-default .nav li.active a:hover {
    color: white;
    background-color: #2A6496;
}

footer {
    clear: both;
    padding-top: 60px;
    text-align: center;

}

.poweredby {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: small;
    color: #AAAAAA;
}

.poweredby a {
    color: #AAAAAA;
    font-weight: bold;
}

.screenshot img {
    max-width: 700px;
    width: 100%;
    border: #cccccc 1px solid;
    padding: 1px;
}

.spotlight,
.screenshot {
    text-align: center;
    margin: 20px 0 40px 0;
}

.challengebutton,
.hugebutton {
    text-decoration: none;
    padding: 20px;
    border: 1px #DDD solid;
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.challengebutton:hover,
.hugebutton:hover {
    background-color: #fafafa;
}

.hugebutton {
    text-align: center;
    padding: 40px 20px;
    height: 200px;
}

.challengebutton {
    height: 220px;
}

.challengebutton img.logo {
    float: left;
    margin-right: 15px;
}

a.challengebutton:hover,
a.hugebutton:hover {
    text-decoration: none;
}

.challengebutton p.description {
    text-align: left;
    color: #555555;
}

.hugeicon {
    font-size: 40px;
}

.icon-left {
    float: left !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

#submenu .navbar-default {
    background-color: #F0F0F0;
    border: none;
}

#submenu .navbar {
    margin-bottom: 0px;
}
