a.navbar-brand img {
    margin: 5px 20px;
}

body {
    min-width: 350px;
}

.navbar {
    min-height: 90px;
}

#menu.navbar-nav > li > a {
    line-height: 20px;
    padding-top: 55px;
}

#menu.navbar-nav > li.active > a {
    color: white;
    background-color: #428BCA;
}

#menu.nav li a.selected,
#menu.nav li a:hover {
    color: white;
    background-color: #2A6496;
}

footer {
    clear: both;
    padding-top: 60px;
    text-align: center;

}

.poweredby {
    padding-top: 30px;
    text-align: center;
    font-size: small;
    color: #AAAAAA;
}

.poweredby a {
    color: #AAAAAA;
    font-weight: bold;
}

.screenshot img {
    max-width: 700px;
    width: 100%;
    border: #cccccc 1px solid;
    padding: 1px;
}

.screenshot {
    text-align: center;
    margin: 20px 0 40px 0;
}

.hugebutton {
    text-decoration: none;
    padding: 40px 20px;
    text-align: center;
    border: 1px #eeeeee solid;
    display: inline-block;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
}

a.hugebutton:hover {
    text-decoration: none;
}

.hugeicon {
    font-size: 40px;
}

.icon-left {
    float: left !important;
    margin-right: 10px;
    margin-bottom: 10px;
}


