extends layout

block append head
	link(rel='stylesheet', type='text/css', href='/vot2013/css/style.css', media='screen')
	title VOT How to ... | 
		= menu

block header
	#site_title
		a(href='index.html')
			img(src='/howto/img/logo_website.png', alt='VOT how to')
		br
		span(style='padding: 0 0 5px 0;') 

block navigation
	-var menu_items = { 'Home': '/howto/index.html', 'Perf. Evaluation': '/howto/perfeval.html',  'Graph Plotting': '/howto/plots.html', 'Trackers Comparison': '/howto/trackeranalysis.html', 'Selecting Sequences': '/howto/sequences.html',  'People': '/howto/people.html'};
	ul
		each val, key in menu_items
			if menu == key
				li.page_item.current_page_item
					a(href=val)= key
			else
				li
					a(href=val)= key
	.clearer


block footer
	p#supporters
		a(href='http://www.ieee.org/')
			img(alt='IEEE', src='/howto/img/ieee_cs.png')
		a(href='http://www.cv-foundation.org/')
			img(alt='', src='/howto/img/cvf.png')
	.center_wrapper
		a(href='/')  VOT Initiative
		| .
		| &copy; 2013-2014. All rights reserved.

	.center_wrapper
		.right
			a(href='http://templates.arcsin.se/') Website template 
			| by 
			a(href='http://arcsin.se/') Arcsin
		.clearer  
