doctype html
html(xmlns='http://www.w3.org/1999/xhtml', dir='ltr')
	block page_vars
		-var menu = 'Home';
		if page.metadata.menu
			-menu = page.metadata.menu
	head
		block head
			meta(http-equiv='content-type', content='text/html; charset=UTF-8')
			meta(name='description', content='')
			meta(name='keywords', content='')
			meta(name='author', content='')
			script(type="text/javascript")
				| var _gaq = _gaq || [];
				|  _gaq.push(['_setAccount', 'UA-309424-10']);
				|  _gaq.push(['_trackPageview']);
				| (function() {
				| var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				| ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
				| 'http://www') + '.google-analytics.com/ga.js';
				| var s = document.getElementsByTagName('script')[0];
				| s.parentNode.insertBefore(ga, s);
				| })();

	body
		#header
			.center_wrapper
				block header 

		#navigation
			.center_wrapper
				block navigation

		#layout_body
			#main_wrapper_outer
				#main_wrapper_inner
					.center_wrapper
						block main
						#main.left
							#main_content
								!= page.html

						.clearer  
			#footer
				block footer

				.center_wrapper
					.right
						a(href='http://templates.arcsin.se/') Website template 
						| by 
						a(href='http://arcsin.se/') Arcsin
					.clearer  
