extends page

block append page_vars
    -var menu='Challenges';
    if page.metadata.submenu
        -submenu = page.metadata.submenu 

block append page_vars
    -var menu='Challenges';
    if page.metadata.submenu
        -submenu = page.metadata.submenu 

block append head
    title VOT2015 Challenge | 
        = submenu

block submenu
    -var menu_items = { 'Home': '/vot2015/index.html', 'Dataset': '/vot2015/dataset.html' , 'Participate': '/vot2015/participation.html' , 'People': '/vot2015/people.html' };
    .navbar.navbar-default.navbar-static-top(role='navigation')
        .container
            .navbar-header
                a(class='navbar-brand' href='/vot2015/') VOT2015
            ul(class='nav navbar-nav nav-collapse')
                each val, key in menu_items
                    if submenu == key
                        li.active
                            a(href=val)= key
                    else
                        li
                            a(href=val)= key
            div(class='navbar-text navbar-right')
                a(class='navbar-conjunction' href='http://pamitc.org/iccv15/') ICCV2015, Santiago, Chile

    .clearer
