extends layout

block append head
	link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
	title VOT Challenge | 
		= menu


block header
	#site_title
		a(href='index.html')
			img(src='/img/logo_website.png', alt='Visual Object Tracking Challenge')

block footer
	.center_wrapper
		| VOT Challenge. &copy; 2013-2014. All rights reserved.