extends page

block append page_vars
    -var menu='Challenges';
    if page.metadata.submenu
        -submenu = page.metadata.submenu 

block append page_vars
    -var menu='Challenges';
    if page.metadata.submenu
        -submenu = page.metadata.submenu 

block append head
    title VOT2016 Challenge | 
        = submenu

block submenu
    -var menu_items = { 'Home': '/vot2016/index.html', 'Dataset': '/vot2016/dataset.html' , 'Results': '/vot2016/results.html', 'Program': '/vot2016/program.html' , 'People': '/vot2016/people.html' };
    .navbar.navbar-default.navbar-static-top(role='navigation')
        .container
            .navbar-header
                a(class='navbar-brand' href='/vot2016/') VOT2016
            ul(class='nav navbar-nav nav-collapse')
                each val, key in menu_items
                    if submenu == key
                        li.active
                            a(href=val)= key
                    else
                        li
                            a(href=val)= key
            div(class='navbar-text navbar-right')
              a(class='navbar-conjunction' href='http://www.eccv2016.org/') ECCV2016, Amsterdam, the Netherlands

    .clearer
