extends page2014

block append main
	#sidebar.right
		#sidebar_content
			.box
				.box_title Important dates
				.box_content
					table
						tr.spaceUnder
							td(width='160px', height='30', style='font-weight:bold')
								| Start of challenge
							td(style='text-indent: 3em;font-weight:bold')
								| 19 May
						tr.spaceUnder
							td(width='160px', height='30')
								| Submission deadline
							td(style='text-indent: 3em;')
								| 23 June
						tr.spaceUnder
							td(width='160px', height='30')
								| Notification of acceptance
							td(style='text-indent: 3em;')
								| 18 July
						tr.spaceUnder
							td(width='160px', height='30')
								| Camera-ready paper
							td(style='text-indent: 3em;')
								| 25 July
						tr.spaceUnder
							td(width='160px', height='30')
								| Early registration
							td(style='text-indent: 3em;')
								| 31 July
			.box
				.box_title Recent news
				.box_content
					table
						tr.spaceUnder
							td(width='160px', height='30')
							| All important infos are available to the participants (20 May)<br>
						tr.spaceUnder
							td(width='160px', height='30')
							| University of Ljubljana sponsors VOT2014 award for the challenge winner (16 Jun)
					| <b>Some 
					a(href='mailto:roman.pflugfelder@ait.ac.at?cc=matej.kristan@fri.uni-lj.si;gustavo.fernandez@ait.ac.at&subject=VOT2013 challenge - Enquiry') questions
					| ? </b><br>
					| <b>Subscribe today to the 
					a(href='https://service.ait.ac.at/mailman/listinfo/votchallenge') mailing list
					| !</b>

					| <br><br>Sponsor of the VOT2014 award is the Faculty of computer and information science, University of Ljubljana.<br>
					img(src='/vot2014/img/FRI.png',width='250px')