extends layout

block append head
	link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
	title VOT Innitiative | 
		= menu


block header
	#site_title
		a(href='index.html')
			img(src='/img/logo_website.png', alt='Visual Object Tracking Initiative')

block footer
	.center_wrapper
		| VOT Visual Object Tracking Organizing Committee. All rights reserved.

