extends page2014

block append main
	#sidebar.right
		#sidebar_content
			.box
				.box_title Recent news
				.box_content
					table
						tr.spaceUnder
							td(width='150px', height='80')
								| Wepbage is online
							td(style='text-indent: 3em;')
								| 24.03.2014					
					| General 
					a(href='mailto:roman.pflugfelder@ait.ac.at?cc=matej.kristan@fri.uni-lj.si;gustavo.fernandez@ait.ac.at&subject=VOT2013 challenge - Enquiry') enquiries
					| ?

