doctype html
html(xmlns='http://www.w3.org/1999/xhtml', dir='ltr')
    block page_vars
        -var menu = 'Home';
        -var title = '';
        if page.metadata.menu
            -menu = page.metadata.menu
        if page.metadata.title
            -title = "| " + page.metadata.title
    head
        block head
            meta(http-equiv='content-type', content='text/html; charset=UTF-8')
            meta(name='description', content='')
            meta(name='keywords', content='')
            meta(name='author', content='')
            script(type="text/javascript")
                | var _gaq = _gaq || [];
                |  _gaq.push(['_setAccount', 'UA-309424-10']);
                |  _gaq.push(['_trackPageview']);
                | (function() {
                | var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                | ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
                | 'http://www') + '.google-analytics.com/ga.js';
                | var s = document.getElementsByTagName('script')[0];
                | s.parentNode.insertBefore(ga, s);
                | })();
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', media='screen')
        link(rel='stylesheet', type='text/css', href='/css/vot.css', media='screen')
        link(rel='stylesheet', type='text/css', href='/css/highlight.css', media='screen')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media='screen')
        link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css', media='screen')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js')
        script(type='text/javascript', src='/js/highlight.js')
        script(type='text/javascript', src='/js/preview.js')
        script(type='text/javascript', src='/js/uri.js')
        script(type="text/javascript")
            | hljs.initHighlightingOnLoad();
            | $(function(){ window.cookieconsent.initialise({ "palette": {  "popup": { "background": "#edeff5", "text": "#838391"}, "button": { "background": "#4b81e8" }}})});
        title VOT Challenge
            = title

    body
        #header
            .navbar.navbar-default.navbar-static-top(role='navigation')
                .container
                    .navbar-header

                        a(class='navbar-brand' href='/')
                            img(src='/img/logo_website.png' alt='VOT challenge')

                    -var menu_items = { 'Home': '/index.html', 'Challenges': '/challenges.html', 'Support': '/howto/', 'Publications': '/publications.html'};
                    ul(class='nav navbar-nav nav-collapse' id='menu')
                        each val, key in menu_items
                            if menu == key
                                li.active
                                    a(href=val)= key
                            else
                                li
                                    a(href=val)= key
                    div(class='navbar-text navbar-right' id='icons')
                        a(class='navbar-github' href='https://github.com/votchallenge' title='Github project')
                            i(class='fa fa-github')
                #submenu
                    .center_wrapper
                        block submenu

        .container
            block main
            #main.left
                #main_content
                    != page.html
            .clearer  

        footer
            block footer
            .poweredby
                | VOT Challenge. &copy; 2013-2019. All rights reserved.
