extends page2013

block append main
	#sidebar.right
		#sidebar_content
			.box
				.box_title Recent news
				.box_content
					table
						tr.spaceUnder
							td(width='150px', height='80')
								| Paper summarising results is online
							td(style='text-indent: 3em;')
								| 2013/12/17
						tr.spaceUnder
							td(width='150px', height='50')
								| Main presentation is online
							td(style='text-indent: 3em;')
								| 2013/12/05
						tr.spaceUnder
							td(width='150px', height='50')
								| Workshop was successfully held
							td(style='text-indent: 3em;')
								| 2013/12/02
						tr.spaceUnder
							td(width='150px', height='50')
								| Submission details are online
							td(style='text-indent: 3em;')
								| 2013/11/06
						tr.spaceUnder
							td(width='150px', height='30')
								| Program is online
							td(style='text-indent: 3em;')
								| 2013/10/28
					| General 
					a(href='mailto:roman.pflugfelder@ait.ac.at?cc=matej.kristan@fri.uni-lj.si;gustavo.fernandez@ait.ac.at&subject=VOT2013 challenge - Enquiry') enquiries
					| ?

