extends page

block append page_vars
    -var menu='Challenges';
    if page.metadata.submenu
        -submenu = page.metadata.submenu

block append head
    title VOTS2024 Challenge | 
        = submenu

block submenu
    -var menu_items = { 'Home': '/vots2024/index.html', 'Submit': '/vots2024/participation.html', 'Leaderboards': '/vots2024/leaderboards.html', 'Dataset': '/vots2024/dataset.html', 'Program': '/vots2024/program.html', 'People': '/vots2024/people.html' };
    .navbar.navbar-default.navbar-static-top(role='navigation')
        .container
            .navbar-header
                a(class='navbar-brand' href='/vots2024/') VOTS2024
            ul(class='nav navbar-nav nav-collapse')
                each val, key in menu_items
                    if submenu == key
                        li.active
                            a(href=val)= key
                    else
                        li
                            a(href=val)= key
            div(class='navbar-text navbar-right')
              a(class='navbar-conjunction' href='https://eccv.ecva.net/Conferences/2024') ECCV2024, Milano, Italy 

    .clearer
