extends page2014

block append main
	#sidebar.right
		#sidebar_content
			.box
				.box_title Recent news
				.box_content
					table
						tr.spaceUnder
							td(width='150px', height='40')
								| Results/Paper Deadline
							td(style='text-indent: 3em;')
								| 01.06.2014			
						tr.spaceUnder
							td(width='150px', height='40', style='font-weight:bold')
								| Challenge will start
							td(style='text-indent: 3em;font-weight:bold')
								| 19.05.2014
						tr.spaceUnder
							td(width='150px', height='40')
								| Wepbage is online
							td(style='text-indent: 3em;')
								| 24.03.2014					
					| General 
					a(href='mailto:roman.pflugfelder@ait.ac.at?cc=matej.kristan@fri.uni-lj.si;gustavo.fernandez@ait.ac.at&subject=VOT2013 challenge - Enquiry') enquiries
					| ? <br>
					| Become now a 
					a(href='https://service.ait.ac.at/mailman/listinfo/votchallenge') votchallenge
					|  list member?

