extends page2014

block append main
	#sidebar.right
		#sidebar_content
			.box
				.box_title Important dates
				.box_content
					table
						tr.spaceUnder
							td(width='160px', height='30')
								| Start of challenge
							td(style='text-indent: 3em;')
								| 19 May
						tr.spaceUnder
							td(width='160px', height='30', style='font-weight:bold')
								| Paper submission
							td(style='text-indent: 3em;font-weight:bold')
								| 7 July
						tr.spaceUnder
							td(width='160px', height='30')
								| Results submission
							td(style='text-indent: 3em;')
								| 11 July
						tr.spaceUnder
							td(width='160px', height='30')
								| Notification of acceptance
							td(style='text-indent: 3em;')
								| 18 July
						tr.spaceUnder
							td(width='160px', height='30')
								| Camera-ready paper
							td(style='text-indent: 3em;')
								| 25 July
						tr.spaceUnder
							td(width='160px', height='30')
								| Early registration
							td(style='text-indent: 3em;')
								| 31 July
					br
					| <b>
					a(href='/vot2014/news.html') See
					|  our latest news on the challenge<b>
					<br><br>
					a(href='mailto:roman.pflugfelder@ait.ac.at?cc=matej.kristan@fri.uni-lj.si;gustavo.fernandez@ait.ac.at&subject=VOT2013 challenge - Enquiry') Ask
					|  questions? </b><br><br>
					a(href='https://service.ait.ac.at/mailman/listinfo/votchallenge')
						img(src='/vot2014/img/JoinMailingList.jpg', width='200px')

					| <br><br>The VOT2014 award is sponsored by the Faculty of computer and information science, University of Ljubljana.<br>
					img(src='/vot2014/img/logo_ljubljana.png',width='250px')
