extends layout

block append head
	link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
	title VOT Innitiative | 
		= menu


block header
	#site_title
		h2
			a(href='index.html')
				| Visual Object Tracking Initiative

block navigation
	-var menu_items = { 'Home': 'index.html', 'Supporters': 'supporters.html'};
	ul
		each val, key in menu_items
			if menu == key
				li.page_item.current_page_item
					a(href=val)= key
			else
				li
					a(href=val)= key
	.clearer


